{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
حذف مقاله
{% endblock %}
{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-danger">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">حذف مقاله</h3>
        </div>
        <div class="card-body py-4">
            <form method="post">{% csrf_token %}
                <p class="py-2">آیا از حذف مقاله "{{ object }}" از {{object.author.get_full_name}} اطمینان دارید؟</p>
                <input type="submit" value="حذف" class="btn btn-danger">
            </form>
        </div>
    </div>
</div>
{% endblock %}