{% extends 'registration/base.html' %}

{% block title %}{% block title-meta %}
لیست مقالات
{% endblock %}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-12">
        {% if object_list %}
        <div class="card">
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>عنوان مقاله</th>
                        <th>تصویر بند انگشتی</th>
                        <th>دسته بندی</th>
                        <th>نویسنده</th>
                        <th>خلاصه</th>
                        <th>زمان انتشار</th>
                        <th>مقاله ویژه</th>
                        <th>وضعیت</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in object_list %}
                    <tr>
                        {% if article.status in 'bd'|make_list or user.is_superuser %}
                        <td><a href="{% url 'account:article-update' article.pk %}">{{article.title}}</a></td>
                        {% else %}
                        <td>{{article.title}}</td>
                        {% endif %}
                        <td><img src="{{article.thumbnail.url}}" width="120"></td>
                        <td>{{article.category_to_str}}</td>
                        <td>{{article.author.get_full_name}}</td>
                        <td>{{article.description|striptags|truncatewords:'30'}}</td>
                        <td>{{article.publish}}</td>
                        <td>
                            {% if article.is_special %}
                            <i class="fa fa-check-circle" style="color: green"></i>
                            {% else %}
                            <i class="fa fa-minus-circle" style="color: red"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if article.status == 'p' %}
                            <span class="badge badge-success">منتشر شده</span>
                            <a href="{% url 'blog:detail' article.slug %}" class="badge badge-primary" target="_blank">نمایش مقاله</a>
                            {% elif article.status == 'i' %}
                            <span class="badge" style="background-color: #4be2ea;">مقاله در حال بررسی</span>
                                {% if user.is_superuser %}
                                <a href="{% url 'blog:preview' article.pk %}" class="badge badge-secondary" target="_blank">پیش نمایش مقاله</a>
                                {% endif %}
                            {% else %}
                                {% if article.status == 'd' %}
                                <span class="badge badge-danger">پیش نویس</span>
                                {% else %}
                                <span class="badge badge-warning">برگشت داده شده</span>
                                {% endif %}
                            <a href="{% url 'blog:preview' article.pk %}" class="badge badge-secondary" target="_blank">پیش نمایش مقاله</a>
                            {% endif %}
                            {% if user.is_superuser %}
                            <a href="{% url 'account:article-delete' article.pk %}" class="badge text-danger">حذف</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        {% else %}
        <h3>محنوایی برای نمایش وجود ندارد.</h3>
        {% endif %}
    </div>
</div>
{% endblock %}