<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>ارسال ایمیل بازیابی با موفقیت انجام شد.</title>
</head>
<body>
<div class="myfont" style="font-family: Sahel; text-align:center">
    <h1>گذرواژه جدید ایجاد شد.</h1>
    <a href="{% url 'login' %}">ورود</a>
</div>
</body>
</html>