{% extends 'registration/base.html' %}

{% load crispy_forms_tags %}

{% block title %}{% block title-meta %}
عملیات با موفقیت انجام شد.
{% endblock %}
{% endblock %}

{% block main %}
<div class="col-md-8 text-center mx-auto">
    <!-- general form elements -->
    <div class="card card-success">
        <div class="card-header">
            <h3 class="card-title mb-0 float-left">تغییر رمز عبور</h3>
        </div>
        <div class="card-body py-4">
                <p class="py-2">گذرواژه با موفقیت تغییر یافت.</p>
            </form>
        </div>
    </div>
</div>
{% endblock %}