<ul class="navbar-nav ml-auto">
    {% for cat in cat.children.active %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:category' cat.slug %}">{{cat.title}}</a>
        {% if cat.children.active %}
        {% include 'blog/partials/category_loop.html' %}
        {% endif %}
        {% endfor %}
</ul>