@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body {
    text-align: right !important;
    direction: rtl !important;
    font-family: Sahel;
}

.myfont{
    font-family: Sahel;
}

.errors {
    color: red;
    background: #ecdada;
    padding: 20px 30px;
}